<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <p>v-model默认绑定的是value值和input事件，对于输入框以外的其他元素不好使，需要单独配置</p>
  <my-checkbox v-model="check" @focus.native="onFocus"></my-checkbox>
  {{check}}
  <p>监听native事件</p>
  <my-checkbox @focus.native="onFocus"></my-checkbox>

  <p>如果input并不是根元素，则直接在组件元素上添加的v-model不会生效，需要扩展这个组件的listener</p>
  <my-input v-model="inputValue"></my-input>
  {{inputValue}}

  <p>直接在父组件上使用双向绑定是不好的，可以使用sync修饰符</p>
  <p>sync修饰符和v-model一样，存在一些限制，比如只能绑定变量，不能使用表达式，不能使用对象字面量形式</p>
  <my-input :value.sync="inputValue"></my-input>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  Vue.component('my-checkbox', {
    // 如果直接这样子写，会有问题
    template: `<input type="checkbox" :checked="checked" @change="$emit('change',$event.target.checked)">`,
    props: {
      checked: Boolean
    },
    // 需要增加如下配置
    model: {
      prop: 'checked',
      event: 'change'
    }
  });

  Vue.component('my-input', {
    template: `<label >my-input:
                <input type="text" :value="value" v-on="mylisteners">
              </label>`,
    props: ['value'],
    mounted() {
      console.log(this.$listeners)
    },
    computed: {
      mylisteners() {
        const that = this;
        return Object.assign({}, this.$listeners, {
          input(event) {
            that.$emit('input', event.target.value)
          },
          // focus(){
          //
          // }
        })
      }
    }
  })

  <!--  创建实例，示例的数据-->
  const app = new Vue({
    el: "#app",
    data: {
      message: 'hello world!',
      check: true,
      inputValue: ''
    },
    methods: {
      onFocus() {
        console.log('native事件focus')
      }
    }

  });
  // tips：如果对data对象设置了Object.freeze()，那么将禁止修改对象
</script>
</body>
</html>
